#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color:black;
    background-color:rgba(0,0,0,0.7);
    background: url("images.jpg") no-repeat center center;
    background-size:cover ;
}
input{
    color:black;
    background-color:white;
}
#banner_content{
    position:relative;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width:660px;
}
.heading{
    background-color: brown;
    color:white;
    font-size: large;
    font-family: Comic Sans MS,cursive, sans-serif;
    font-style: italic;
}
.dark{
    background-image:linear-gradient(black,grey);
}
.grey{
    background-color: grey;
    color:black;
}
#answer{
    background-color: black;
    font-size: large;
    font-family:Apple Chancery, cursive;
}
hr{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 0;
}
#output2,#output1{
    border: 1px solid black;
}
footer{
    position:bottom;
    padding:10px 0;
    color:black;
    width:100%;
}
#panel1{
    padding-top: 75px;
}
#task3{
    width:100%;
    margin : 0;
}
#days-left
{
    padding: 50 0;
    color:black;
    width:50%;
    margin : 0;
    float : left ;
}
    
#days-done 
{
    padding: 50 0;
    color:black;
    width:50%;
    margin : 0;
    float : left ;
}
.container1{
    border: 1px solid black;
    border-collapse: collapse;
    height:30%;
    text-align: center;
    padding: 70 0;
}
.text{
    font-size:36px;
    color:darkorchid;
    font-family: Comic Sans MS,cursive, sans-serif;
    font-style: italic;
}